.info-container {
  background: linear-gradient(135deg, #5f41d9 20%, #41b5d9);
  color: white;
  min-height: 88vh;
  overflow: hidden;
  position: relative;
}

.icon-playlist-1 {
  left: 3%;
  position: absolute;
  top: -60px;
}

.icon-playlist-2 {
  position: absolute;
  right: 5%;
  top: -60px;
}

.icon-cert-1 {
  left: 41%;
  position: absolute;
  top: -30px;
}

.info-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  margin-left: 8%;
  text-align: left;
  width: 400px;
}

/* Ellipse 37 */
.elipse {
  background: linear-gradient(139.56deg, #fefefe -4.57%, rgba(255, 255, 255, 0) 82.11%);
  border-radius: 100%;
  height: 650px;
  opacity: 0.15;
  position: absolute;
  right: 8%;
  top: 25%;
  width: 650px;
  z-index: 1;
}

.info-content h2 {
  color: rgba(255, 255, 255, 0.7);
  font-family: Degular , serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 17px;
  text-align: left;
}

.info-content h1 {
  font-size: 4rem;
  margin: 10% 0;
}

.info-devices {
  align-items: center;
  display: flex;
}

.info-devices > h2 {
  margin-left: 10px;
}

.info-content p {
  margin-bottom: 10%;
  text-align: justify;
}

.info-btn {
  width: 100%;
}

.info-comecar {
  background-color: turquoise;
  border: none;
  border-radius: 30px;
  margin-right: 10%;
  padding: 5% 10%;
}

.info-video {
  background: none;
  border: none;
  color: white;
  font-weight: 700;
  padding-left: 40px;
  position: relative;
}

.info-video img {
  left: 0;
  position: absolute;
  top: -40%;
}

.pessoa {
  bottom: 0;
  position: absolute;
  right: 10%;
  z-index: 5;
}

.union {
  bottom: 2%;
  position: absolute;
  right: 40%;
  z-index: 2;
}

.union1 {
  bottom: 30%;
  position: absolute;
  right: 15%;
  z-index: 4;
}

@media screen and ( max-width : 1100px ) {

  .pessoa, .elipse, .union, .union1 {
    display: none;
  }

  .info-container {
    min-height: 60vh;
  }

  .info-content {
    height: 70vh;
    width: 80%;
  }

  .info-comecar {
    margin-bottom: 15px;
    padding: 15px 30px;
  }

  .info-content h1 {
    font-size: 30px;
  }

}
