.info-container {
  background: linear-gradient(100deg, #5f41d9, #41b5d9);
  color: white;
  min-height: 88vh;
  position: relative;
}

.info-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  margin-left: 8%;
  text-align: left;
  width: 400px;
}

/* Ellipse 37 */
.elipse {
  background: linear-gradient(139.56deg, #fff -4.57%, rgba(255, 255, 255, 0) 82.11%);
  border-radius: 100%;
  height: 658.53px;
  left: 669px;
  opacity: 0.25;
  position: absolute;
  top: 216.39px;
  width: 658.53px;
  z-index: 1;
}


.info-content h2 {
  color: rgba(255, 255, 255, 0.7);
  font-family: Degular;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 17px;
  text-align: left;
}

.info-content h1 {
  font-size: 4rem;
  margin: 10% 0;
}

.info-content p {
  margin-bottom: 10%;
  text-align: justify;
}

.info-btn {
  width: 100%;
}

.info-comecar {
  background-color: turquoise;
  border: none;
  border-radius: 30px;
  margin-right: 10%;
  padding: 5% 10%;
}

.info-video {
  background: none;
  border: none;
  color: white;
  font-weight: 700;
}

.pessoa {
  bottom: 0;
  position: absolute;
  right: 10%;
  z-index: 5;
}

.union {
  bottom: 2%;
  position: absolute;
  right: 40%;
  z-index: 2;
}

.union1 {
  bottom: 30%;
  position: absolute;
  right: 15%;
  z-index: 4;
}
