.header-container {
  align-items: center;
  background: linear-gradient(140deg, #5c48d2 60%, #41b5d9);
  box-shadow: inset 0 0 1px #555;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 12vh;
  overflow: hidden;
  padding-left: 8%;
  position: relative;
  z-index: 1;
}

.header-container .logo {
  z-index: 10;
}

.hamburguer {
  display: none;
}

.header-container > nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}

.user-profile {
  z-index: 2;
}

.elipse-p-1 {
  background: radial-gradient(#686fd7 3%, #5c48d2 40%);
  border-radius: 50%;
  height: 150px;
  left: 1%;
  padding: 10px;
  position: absolute;
  top: 2%;
  width: 150px;
  z-index: 1;
}

.elipse-p-2 {
  background: radial-gradient(#686fd7 3%, #5c48d2 40%);
  border-radius: 50%;
  height: 120px;
  left: 20%;
  padding: 10px;
  position: absolute;
  top: -70px;
  width: 120px;
  z-index: 1;
}

.elipse-p-3 {
  background: radial-gradient(#6b59d4 1%, #5c48d2 40%);
  border-radius: 50%;
  height: 100px;
  left: 40%;
  padding: 10px;
  position: absolute;
  top: 40%;
  width: 100px;
  z-index: 1;
}

.header-container .menu {
  margin-right: 10%;
}

.header-container ul {
  display: flex;
  list-style: none;
}

.header-container ul li {
  margin: 0% 5% 0 0;
}

.header-container .profile {
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  font-weight: 600;
  justify-content: start;
  margin-right: 5%;
  padding-left: 3%;
  width: 33%;
}

.header-container .profile button {
  background: none;
  border: white 1px solid;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  height: 40px;
  outline: none;
  width: 200px;
}

.header-container .profile ul {
  align-items: center;
  display: flex;
  list-style: none;
}

.header-container .profile ul li {
  margin: 10px;
}

@media screen and ( max-width : 1100px ) {

  .header-container {
    justify-content: space-between;
    padding: 30px;
  }

  .header-container nav {
    align-items: flex-start;
    background-color: #888;
    display: none;
    height: 50vh;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5 ease;
    width: 60%;
    z-index: 999;
  }

  .hamburguer {
    color: white;
    display: block;
    font-size: 30px;
    z-index: 5;
  }

  .header-container ul {
    flex-direction: column;
  }

  .elipse-p-1, .elipse-p-2, .elipse-p-3 {
    display: none;
  }

  .active {
    display: block;
  }

  .header-container .profile {
    align-items: flex-start;
    background-color: #888;
    display: none;
    height: 50vh;
    margin: 0;
    position: fixed;
    right: 0;
    top: 50%;
    transition: 0.5 ease;
    width: 60%;
    z-index: 999;
  }

  .profile ul li button {
    padding: 5px;
  }
}

